<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-auto">
                <h1 class="mb-0">Remy</h1>
            </div>
            <div class="col-auto ms-auto">
                <a sec:authorize="isAnonymous()" href="/login" class="btn btn-theme-c">Login</a>
                <a sec:authorize="isAuthenticated()" href="/logout" class="btn btn-theme-c">Logout</a>
            </div>
        </div>
    </div>
</header>